/* Agent Search */
.agent-search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 768px) {
  .agent-search {
    flex-direction: column; /* Stack search items vertically */
    width: 100%;
  }

  .agent-search input,
  .agent-search select {
    width: 100%; /* Ensure full width on mobile */
    margin-bottom: 10px; /* Add spacing between items */
  }
}

@media (max-width: 768px) {
  .add-agent-form form {
    display: flex; /* Flex on mobile */
    flex-direction: column; /* Stack fields vertically */
    width: 100%; /* Ensure full width */
  }

  .add-agent-form input,
  .add-agent-form select {
    width: 100%; /* Ensure full width on mobile */
  }

  .add-agent-form button {
    width: 100%; /* Full width for the button */
  }
  .input-field-d{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
}