  .input-group {
    margin-bottom: 15px;
  }
  
  .settings-password {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  