/* General Section Styling */
.settings-section {
    margin-bottom: 20px;
  }
    
  /* Textarea Styling */
  .textarea-input {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    border: 1px solid #3d434d;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical;
    min-height: 100px;
    margin-bottom: 15px;
    box-sizing: border-box;  /* Ensures padding doesn't cause overflow */
  }
  
 
  
 
  