/* General Section Styling */
.settings-section {
    margin-bottom: 20px;
  }
  
  .settings-section__header {
    font-size: 1.4rem;           /* Slightly larger font size */
    font-weight: 600;            /* Bold text */
    color: #333333;             /* Pure white for better contrast */
    margin-bottom: 10px;         /* Space between the header and content */
    text-transform: uppercase;   /* Uppercase text */
    padding-bottom: 5px;         /* Space between text and border */
  }
  
  
  
  /* File Input Styling */
  .file-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .file-input {
    padding: 10px;
    background-color: #3a3f49;
    border: 1px solid #3d434d;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 5px;
    font-family: inherit;
  }
  
  .file-input-label {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 5px;
  }
  
  /* Textarea Styling */
  .textarea-input {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    background-color: #3a3f49;
    border: 1px solid #3d434d;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    resize: vertical;
    min-height: 100px;
    margin-bottom: 15px;
    box-sizing: border-box;  /* Ensures padding doesn't cause overflow */
  }
  
  /* Button Styling */
  .settings-section__btn {
    padding: 10px 15px;
    background-color: #4e73df;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .settings-section__btn:hover {
    background-color: #2e59d9;
  }
  