@import "../../styles/variables";

.header{
    width:100%;
    padding:20px 0;
    color:#fff;
        &--absolute{
        position:absolute;
        top:0px;
        left:0px;
        z-index:888;
        }
        &--fixed{
        position:fixed;
        top:0px;
        left:0px;
        z-index:888;
        }
        &--page{
        background-color:#000;
        }
        &--transparent{
        background:none;
        }
        &--gradient{
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        }
        &__inner{
        width:calc(100% - 40px);
        padding:0 20px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        }
        &__icon{
        cursor:pointer;
            & img{
            display:block;
            max-width:20px;
            }
            &--empty-space{
              width:20px;
            }
            &--menu{
              width:20px;
              height:16px;
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -webkit-transition: .3s ease-in-out;
              -moz-transition: .3s ease-in-out;
              -o-transition: .3s ease-in-out;
              transition: .3s ease-in-out;
              cursor: pointer;
                & span {
                      display: block;
                      position: absolute;
                      height: 1px;
                      width: 50%;
                      background: #fff;
                      opacity: 1;
                      left: 0;
                      -webkit-transform: rotate(0deg);
                      -moz-transform: rotate(0deg);
                      -o-transform: rotate(0deg);
                      transform: rotate(0deg);
                      -webkit-transition: .25s ease-in-out;
                      -moz-transition: .25s ease-in-out;
                      -o-transition: .25s ease-in-out;
                      transition: .25s ease-in-out;
                      -webkit-tap-highlight-color: transparent;
                    }
                & span:nth-child(even) {
                  left: 50%;
                }
                & span:nth-child(odd) {
                  left:0px;
                }
                & span:nth-child(1), & span:nth-child(2) {
                  top: 0px;
                }
                & span:nth-child(3), & span:nth-child(4) {
                  top: 6px;
                }
                & span:nth-child(5), & span:nth-child(6) {
                  top: 12px;
                }
                &.open span:nth-child(1), &.open span:nth-child(6) {
                      -webkit-transform: rotate(45deg);
                      -moz-transform: rotate(45deg);
                      -o-transform: rotate(45deg);
                      transform: rotate(45deg);
                      background: #000000;
                    }
                &.open span:nth-child(2), &.open span:nth-child(5) {
                      -webkit-transform: rotate(-45deg);
                      -moz-transform: rotate(-45deg);
                      -o-transform: rotate(-45deg);
                      transform: rotate(-45deg);
                      background: #000000;
                    }
                &.open span:nth-child(1) {
                      left: 2px;
                      top: 4px;
                    }
                &.open span:nth-child(2) {
                      left: calc(50% - 2px);
                      top: 4px;
                    }
                &.open span:nth-child(3) {
                      left: -50%;
                      opacity: 0;
                    }
                &.open span:nth-child(4) {
                      left: 100%;
                      opacity: 0;
                    }
                &.open span:nth-child(5) {
                      left: 2px;
                      top: 12px;
                    }
                &.open span:nth-child(6) {
                      left: calc(50% - 2px);
                      top: 12px;
                    }
            }
            &--cart{
            position:relative;
                & span{
                position:absolute;
                top:-10px;
                right:-10px;
                width:20px;
                height:20px;
                border-radius:50%;
                text-align:center;
                line-height:20px;
                font-size:1.1rem;
                font-weight:600;
                background-color:#fff;
                color:$color-blue;
                    &.animate{
                    animation: cartnr 1.5s cubic-bezier(.39,.01,.17,1);
                    animation-iteration-count: 1;
                    }
                }
            }
            &--more{
                & img{
                width:6px;
                }
            }
        }
        &__icons-group{
        display:flex;
        align-items:center;
            &--right .header__icon{
            margin-left:20px;
            }
            &--left .header__icon{
            margin-right:20px;
            }
        }
        //LOGO
        
        &__logo{
            &--text{
            color:#fff;
            font-size:1.8rem;
            font-weight:400;
                & strong{
                font-weight:600;
                color:$color-lightgreen;
                }
                & a{
                color:#fff;
                }
            }
            &--intro{
            font-size:2.8rem;
            width:100%;
            text-align:center;
            }
        }
        &__title{
            color:#000000;
            font-size:1.8rem;
            font-weight:300;
        }
    
    }
    @keyframes cartnr {
      0% {
        transform:scale(1.5);
      }
      50% {
        transform:scale(0.8);
      }
      100% {
        transform:scale(1.5);
      }
    }